.tab-header {
    width: 50%;
    text-align: center;
    font-weight: bold;
}

.colors
{
    display: flex;
}

.colors > button{
    width: 33.33%;
    border-radius: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
}

